body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

button {
    background-color: #0C2d48;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

button:hover {
    background-color: #0C2d48;
}
